.homepage {
  width: 100vw;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.homepage-carousel-size {
  opacity: 1;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

.homepage-presentation-container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  top: 100vh;
  overflow: hidden;  
}

.homepage-presentation-background {
  position: relative;
  z-index: 3;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  /* box-shadow: 10px 10px 8px black; */
}

.homepage-presentation-image {
  width: 100%;
  height: 100%;
  background-image: url('../../img/bgHome2.jpg');
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  object-position: center;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  transform: scale(1.1);
}

.homepage-presentation-content {
  position: relative;
  z-index: 4;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -100vh;
}

.homepage-presentation-text {
  width: 60%;
  height: 1000px;
  display: flex;
  align-items: center;
  background: white;
  margin: 13em;
}

.homepage-presentation-text p {
  font-size: 1.5em;
  text-align: justify;
  white-space: pre-wrap;
  padding: 2em;
}