.carousel-global {
  height : 10px;
  background-color: yellow; 
}

.carousel .slider-wrapper {
  width: 100vw;
  height: 100vh;
}

.carousel img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: bottom;
}

.carousel-status {
  display: none;
}
